.hero {
  background-color: #333;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reveal {
  animation-name: reveal;
  animation-duration: 2s;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
